body
{
  font-family: 'Roboto', sans-serif;
}

.row
{
  margin: 0px;
}

.navbar
{
  margin-bottom: 0px;
}

.navbar, .navbar-default
{
    background: rgb(0, 0, 0);
    border-radius: 0px;
    border: none;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover 
{
    color: #fff;
    background-color: transparent;
}

.navbar-default .navbar-brand 
{
    color: white;
}

.navbar-default .navbar-nav>li>a
{
  color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover
{
  color: white;
}

.navbar-nav
{
  float:right;
}

.navbar-nav li:hover
{
   color: #fff!important;
  border-bottom: 4px solid white!important;
  background-color: rgb(146, 144, 144)!important;
}

.active-menu
{
   color: #fff!important;
  border-bottom: 4px solid white!important;
  background-color: rgb(146, 144, 144)!important;
}

/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover 
{
  color: #fff;
  border-bottom: 4px solid white;
  background-color: rgb(146, 144, 144);
}*/

.landing-page-details
{
  margin-top: 100px;
}

.landing-page
{
  background: linear-gradient(rgba(255, 255, 255, 0.45),rgba(202, 226, 255, 0.64) ), url(../img/sumita-sharma.jpg);
  height: 100vh;
  background-size: cover;
  margin-bottom: 0px;
}

.role
{
  margin-bottom: 40px;
  margin-top: 40px;
}

.projects
{
  height: 100vh;
  /*background-color: rgba(245, 222, 179, 0.2);*/
}

.ch-grid a
{
  text-decoration: none!important;
}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
  cursor: default;
  box-shadow: inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.ch-img-1 
{ 
  background-image: url("../img/project-1.jpg"); 
  background-size: cover;
}
.ch-img-2 
{ 
  background-image: url("../img/project-2.jpg"); 
  background-size: cover;
}
.ch-img-3 
{ 
  background-image: url("../img/project-3.jpg"); 
  background-size: cover;
}

.ch-info {
  position: absolute;
  background: rgb(146, 144, 144);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: scale();
  -moz-transform: scale();
  -ms-transform: scale();
  -o-transform: scale();
  transform: scale();
  -webkit-backface-visibility: hidden;
}

.ch-info h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 22px;
  margin: 0 30px;
  padding: 45px 0 0 0;
  height: 140px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 0 0 1px #fff, 0 1px 2px rgba(0,0,0,0.3);
  text-decoration: none;
}
.ch-info h3:hover
{
    text-decoration: none;
}

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 12px;
  border-top: 1px solid rgba(255,255,255,0.5);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out 0.4s;
     -moz-transition: all 1s ease-in-out 0.4s;
      -ms-transition: all 1s ease-in-out 0.4s;
       -o-transition: all 1s ease-in-out 0.4s;
          transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
  display: block;
  color: #fff;
  color: rgba(255,255,255,0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 9px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
  color: #fff222;
  color: rgba(255,242,34, 0.8);
}

.ch-item:hover { box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1), 0 1px 2px rgba(0,0,0,0.1) }

.ch-item:hover .ch-info {
  opacity: 1;
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);
}

.ch-item:hover .ch-info p { opacity: 1 }


.clr {
  clear: both;
  padding: 0;
  height: 0;
  margin: 0;
}

.main {
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.container > header {
  margin: 10px;
  padding: 20px 10px 10px 10px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-align: center;
}

/*.container > header h1 
{
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  position: relative;
  font-weight: 300;
  color: #777;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}

.container > header h2 
{
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  margin: 0;
  padding: 15px 0 5px 0;
  color: #888;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
}*/

/*.support-note span 
{
  color: #ac375d;
  font-size: 16px;
  display: none;
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
}*/

.no-cssanimations .support-note span.no-cssanimations,
.no-csstransforms .support-note span.no-csstransforms,
.no-csstransforms3d .support-note span.no-csstransforms3d,
.no-csstransitions .support-note span.no-csstransitions { display: block }

.ch-grid 
{
  margin: 50px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after,
.ch-item:before 
{
  content: '';
  display: table;
}

.ch-grid:after { clear: both }

.ch-grid li 
{
  width: 220px;
  height: 220px;
  display: inline-block;
  margin: 20px;
}


.research-papers
{
  /*height: 100vh;*/
  background: rgba(216, 216, 216, 0.11);
}

.research-papers hr
{
  border-top: 1px solid rgba(187, 187, 187, 0.29);
}

.paper-holder
{
  overflow: auto;
}

.image-holder
{
  margin-top: 25px;
  width: 100px;
  height: 100px;
}

.image-holder img
{
  max-width: 100%;
  max-height: 100%;
  border-radius: 7px;
  /*width: 100px;
  height:100px;*/
}




.project-page-holder
{
  margin-top: 70px;
  margin-bottom: 100px;
}

.project-image 
{
    margin-top: 23px;
}

.project-image img 
{
    width: 100%;
    border-radius: 10px;
}

.project-description p
{
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.7px;
  text-align: justify;
  margin-bottom: 0px;
}

.project-description h4
{
  text-decoration: underline;
  font-weight: bold;
  margin-top: 50px;
}

.publishers
{
  font-style: italic;
  margin-top: 0px!important;
  font-size: 14px!important;
}

.demo-vid
{
  width: 100%;
  margin-top: 20px;
}

.pdf
{
  background: #b5b5b5;
  padding: 4px 6px;
  border-radius: 4px;
  color: #151414;
  font-size: 11px;

}

.research-paper-container
{
  margin-top: 50px;
  padding-bottom: 50px;
} 



.contact
{
   
    height: 100vh;
    background: url(../img/contact_bg.png?1493167435) center 200px no-repeat;
}

.contact-container
{
  padding: 60px 0px;
}

.contact-container h1
{
  text-align: center;
  margin-bottom: 30px;
  margin-top: 34px;
}

.contact-container p
{
  text-align: center; 
  margin-bottom: 40px;
  font-size: 15px;
  line-height: 30px;
  color: #a0a0a0;
}

.contact-container .form-group {
    margin-bottom: 32px;
}

.contact-container .button
{
      clear: both;
    width: 100%;
    margin-bottom: 20px;
    font-size: 18px;
    color: #8a959e;
        margin-top: 60px;
}

.contact-container .button input
{
  background: #f36;
  border: none;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  color: white;
}

.form-control
{
      padding: 24px 12px;
}



/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}
.carousel-inner
{
  overflow: hidden;
  padding: 0px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 20px;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
      top: 50%;
    position: fixed;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
  top: 50%;
    position: fixed;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
/*#quote-carousel img
{
  width: 250px;
  height: 100px
}*/
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

@media only screen and (max-width: 994px) {
    .projects, .landing-page {
        height: auto;
    }
}
